$secTextColor: var(--secondary-text-color);

.contact {
  max-width: 600px;
  margin: 0 auto 100px;
  text-align: center;
}

h2.contact-title {
  margin: 0 0 1.5rem;
  color: var(--heading-sec-color);
  font-size: clamp(40px, 5vw, 60px);
}

.contact p {
  color: var(--muted-text-color);
  font-size: var(--f-md);
}

.btn-email {
  margin-top: 50px;
}
