<app-section
  sectionId="about"
  heading="My Introduction"
  [ariaBusy]="aboutResource.isLoading() || imageResource.isLoading()"
>
  <div class="user__info">
    @if (imageResource.hasValue()) {
      @let image = imageResource.value();
      <div class="user__pic">
        @if (image[0]?.profileImg?.fields?.file?.url) {
          <app-image
            [imageWidth]="300"
            [imageHeight]="300"
            [imageUrl]="image[0].profileImg!.fields!.file!.url!"
            [priority]="true"
          />
        }
      </div>
    } @else if (imageResource.isLoading()) {
      <app-image
        [imageWidth]="300"
        [imageHeight]="300"
        imageUrl="/assets/images/ht.svg"
      />
    }

    @if (aboutResource.hasValue()) {
      @let about = aboutResource.value();
      <div class="user-desc user-desc--loaded" aria-labelledby="about-heading">
        @for (item of about; track $index) {
          <div>
            <div [innerHTML]="item.desc | mdToHtml"></div>
          </div>
        }
        <p class="skills-intro">Here are a few technologies I've been working with recently:</p>
        <ul class="skills-list">
          @for (listItem of skills(); track listItem) {
            <li>{{ listItem }}</li>
          }
        </ul>
      </div>
    } @else if (aboutResource.isLoading()) {
      <app-content-skeleton variant="about" label="Loading introduction" />
    }
  </div>
</app-section>
