<footer class="footer">
    <ul class="social-links">
        <li>
          <a href="https://github.com/mohaseebtariq" aria-label="GitHub">
            <i-feather class="icon" name="Github"></i-feather>
          </a>
       </li> 
       <li>
        <a href="https://linkedin.com/in/mohaseebtariq" aria-label="Linkedin">
          <i-feather class="icon" name="LinkedIn"></i-feather>
        </a>
     </li> 
     <li>
      <a href="https://t.me/haseeb_tariq" aria-label="Telegram">
        <i-feather class="icon" name="send"></i-feather>
      </a>
   </li> 
     <li>
      <a href="https://instagram.com/haseeb__tariq" aria-label="Instagram">
        <i-feather class="icon" name="Instagram"></i-feather>
      </a>
   </li> 
   <li>
    <a href="https://twitter.com/tweetsofht" aria-label="Twitter">
      <i-feather class="icon" name="Twitter"></i-feather>
    </a>
 </li> 
      </ul>

    <div class="credits">
        <a href="https://github.com/mohaseebtariq">
            <p>Designed & Built by Mohammed Haseeb Tariq</p>
        </a>
    </div>
</footer>