.comp-container {
  padding: 2.5rem 150px 0 150px;
}

.comp {
  margin: 0px auto;
  max-width: 1000px;
  position: relative;
}

.icons-container {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
}

ul.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: outside none none;

  li {
    margin: 10px;

    a {
      color: var(--heading-sec-color);
    }
  }
}

.social-links::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--heading-sec-color);
}

.defer-placeholder {
  min-height: 280px;
  padding: 1rem 0;
}

@media (max-width: 1080px) {
  .comp-container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 900px) {
  .icons-container {
    display: none;
  }
}

@media (max-width: 768px) {
  .comp {
    padding: 0;
  }

  .comp-container {
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 480px) {
  .comp-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
