<section class="main-section">
  <p class="sec__heading">Hi, my name is</p>
  <div class="heading">
    <h1 class="name__heading">Mohammed Haseeb Tariq.</h1>
    <h1 class="role__heading">I am a Full-Stack Web Developer.</h1>
  </div>
  <p class="sec__desc" >
    Based in Rawalpindi, Pakistan. I try to keep up with the latest trends
    Passionate about learning new technologies, bringing ideas to life, 
    and working to build efficient and robust applications suited to the user’s needs. 
  </p>
  <div class="btn-container">
    <a class="btn" href="/assets/resume.pdf">Resume</a>
  </div>
</section>
