.user-exp {
    margin: 0 175.5px;
  }
  
  $max-tab-count: 5;
  $tab-wrap-border-radius: 6px;
  .tab-wrap {
    transition: 0.3s box-shadow ease;
    border-radius: $tab-wrap-border-radius;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12), 0 0 2px #76b9a5;
  }
  
  .tab {
    display: none;
    @for $i from 1 through $max-tab-count {
      &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
        opacity: 1;
        transition: 0.5s opacity ease-in, 0.8s transform ease;
        position: relative;
        top: 0;
        z-index: 100;
        transform: translateY(0px);
        text-shadow: 0 0 0;
      }
    }
    &:first-of-type:not(:last-of-type) + label {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-of-type):not(:last-of-type) + label {
      border-radius: 0;
    }
    &:last-of-type:not(:first-of-type) + label {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:checked + label {
      box-shadow: 0 -1px 0 var(--secondary-text-color) inset;
      cursor: default;
    }
    + label {
      border-radius: $tab-wrap-border-radius $tab-wrap-border-radius 0 0;
      cursor: pointer;
      display: block;
      text-decoration: none;
      color: var(--secondary-text-color);
      font-size: var(--f-lg);
      flex-grow: 3;
      text-align: center;
      user-select: none;
      text-align: center;
      transition: 0.3s background-color ease, 0.3s box-shadow ease;
      height: 50px;
      box-sizing: border-box;
      padding: 15px;
    }
    &__content {
      padding: 10px 25px;
      background-color: transparent;
      position: absolute;
      width: 100%;
      z-index: -1;
      opacity: 0;
      left: 0;
      transform: translateY(-3px);
      border-radius: $tab-wrap-border-radius;
    }
  }

  .tab__content > p ul li {
    list-style: none;
    position: relative;
    padding-left: 20px;
  }

  .tab__content > p ul li::before {
      content: "▹";
      color: var(--secondary-text-color);
      position: absolute;
      left: 0px;
  }

  .company-name {
    color: var(--secondary-text-color);
  }

  .job-title {
    color: var(--heading-sec-color);
  }


  @media all and (max-width: 999px) {
    .user-exp {
      margin: 0 100px;
    }
  }


  @media all and (max-width: 699px) {
    .user-exp {
      margin: 0;
    }
  }
  